body{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:rgb(140, 194, 230);
} 
p {
    color: navy;
}
.sale {
    font-weight: bold;
    background-color: aqua;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}