body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:#fab66b;
}
p {
    color: navy;
}
.sale {
    font-weight:bold;
    background-color:aqua;
}
#aura {
    background-color: color #04ff8e;
}